<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cosmo.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <style>
        body{
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
<div id="menu-content"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2  col-xs-12 text-center">
            <h2>[About Creative Reservation]</h2>
            <hr>
        </div>
        <div class="col-sm-8 col-sm-offset-2  col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">The Project</div>
                <div class="panel-body">Creative Reservation is a web-Mobile app that help student and clubs to make requests to the administation. Creative Reservation is one of Creative University Projects. Made by Creative Lab Club</div>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2  col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">The Masthead</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5"><a>Rayen MHAMDI</a></div>
                        <div class="col-xs-7">The Project Leader, 2nd year engineer student</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5"><a>Amina BEL HADJ HASSEN</a></div>
                        <div class="col-xs-7">The FrontEnd Hero, 2nd year Licence student</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5"><a>Nassim MAKKI</a></div>
                        <div class="col-xs-7">The Controller Men, 2nd year Licence student</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5"><a>Moez BARKALLAH</a></div>
                        <div class="col-xs-7">The Model Men, 2nd year Licence student</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8 col-xs-offset-2">
            <a href="http://www.creativelab-club.com" target="_blank">Contact Us</a>
        </div>

    </div>
</div>





<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

<script>
    $(function(){
        $("#menu-content").load("Menus/AboutMenu.html");
    });
</script>



</body>
</html>