<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RepresantDemandsUI</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cosmo.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <style>
        body{
            background-color: #f6f6f6;
        }

    </style>
</head>
<body>   
<div id="menu-content"></div>
    
    <div class="container">
        <div class="page-header">
            <h1 id="clubDemands">Clab Demands</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Demands</h2>
                <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Demande Title</th>
                                    <th>Demand date</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody id="notanswredDemands">
                                
                            </tbody>
                        </table>
                </div>
                <h2>Demands Answered</h2>
                <div class="table-responsive">          
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Demande Title</th>
                                    <th>Demand date</th>
                                    <th>Status</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody id="answredDemands">
                               
                            </tbody>
                        </table>
                </div>
            </div>    
        </div>
    </div>
               
    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a demand</h4>
      </div>
        <form method="post" action="../../backend/Controllers/DemandController/addDemand.php" id="addDemandForm" enctype="multipart/form-data">
          <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="Dtitle" class="form-control" placeholder="Demand Title" required>
              </div>
              <div class="form-group">
                  <textarea style = "resize: none" class="form-control" name="Ddescription" placeholder="Description" required></textarea>
              </div>
              <div class="form-group col-xs-6">
                  <label>Start Date</label>
                  <input type="date" name="DstartDate" class="form-control" required>
              </div>
               <div class="form-group col-xs-6">
                  <label>Start time</label>
                  <input type="time" name="DstartTime" class="form-control" required>
              </div>
              <div class="form-group col-xs-6">
                  <label>End Date</label>
                  <input type="date" name="DendDate" class="form-control" required>
              </div>
               <div class="form-group col-xs-6">
                  <label>End time</label>
                  <input type="time" name="DendTime" class="form-control" required>
              </div>

               <div class="form-group">
                  <textarea style = "resize: none" name="Drequirements" class="form-control" required placeholder="Requirements"></textarea>
              </div>
              <div class="form-group">
                  <label>Attachement file</label>
                  <input type="file" name="file" id="file" class="inputfile">
                  <p style="color: red">Only .zip, .png, .jpg, .pdf files are allowed and Max size 20Mo</p>
              </div>
              <input type="hidden" id="represant" name="represant" value="">
              <input type="hidden" id="represant_id_user" name="represant_id_user" value="">
          </div>
          <div class="modal-footer">
            <button type="Submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

  </div>
</div>
    

    
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript"src="../assets/js/bootstrap.min.js"></script>
<script type="text/javascript"src="../assets/js/RepresantDemands.js"></script>
    
    <script>
    $(function(){
      $("#menu-content").load("Menus/UserMenu.html"); 
    });
    </script>

    
    
</body>
</html>